.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 387px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin: 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    font-family: Georgia, serif;
    font-weight: 400;
    margin: 0;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: solid;
    background-image: none;
    margin: 11px auto 0 0;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 371px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px 29px;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0 100px 0 1px;
  }
  
  .u-section-1 .u-text-4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.375rem;
    margin: 10px auto 0 1px;
  }
  
  .u-section-1 .u-text-5 {
    font-style: italic;
    margin: 16px 0 0;
  }
  
  .u-section-1 .u-layout-cell-3 {
    min-height: 371px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px 29px;
  }
  
  .u-section-1 .u-text-6 {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0 100px 0 1px;
  }
  
  .u-section-1 .u-text-7 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin: 10px auto 0 1px;
  }
  
  .u-section-1 .u-text-8 {
    font-style: italic;
    margin: 37px 0 0;
  }
  
  .u-section-1 .u-image-1 {
    min-height: 736px;
    background-image: url("images/professional.png");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 30px 10px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 650px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 298px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 3.75rem;
    }
  
    .u-section-1 .u-btn-1 {
      padding: 15px 41px 16px 40px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 286px;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 3.75rem;
      margin-right: 49px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-4 {
      font-size: 1.125rem;
      margin-left: 0;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 286px;
    }
  
    .u-section-1 .u-text-6 {
      font-size: 3.75rem;
      margin-right: 49px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-7 {
      font-size: 1.125rem;
      margin-left: 0;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 647px;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 978px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 4.5rem;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 484px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 382px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-right: 10px;
      padding-left: 10px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.5;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 3rem;
    }
  
    .u-section-1 .u-text-4 {
      font-size: 1.375rem;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-6 {
      font-size: 3rem;
    }
  
    .u-section-1 .u-text-7 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 3rem;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 3.75rem;
      margin-right: 0;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 243px;
    }
  
    .u-section-1 .u-text-6 {
      margin-right: 0;
    }
  
    .u-section-1 .u-text-7 {
      width: auto;
      margin-right: 0;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 267px;
    }
  } .u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }
  
  .u-section-2 .u-text-1 {
    text-transform: uppercase;
    margin: 60px auto 0 0;
  }
  
  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 67px;
    grid-gap: 30px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 14px 20px 0 0;
  }
  
  .u-section-2 .u-text-3 {
    margin: 20px 20px 0 0;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px 0;
  }
  
  .u-section-2 .u-text-4 {
    margin: 14px 20px 0 0;
  }
  
  .u-section-2 .u-text-5 {
    margin: 20px 20px 0 0;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px 0;
  }
  
  .u-section-2 .u-text-6 {
    margin: 14px 20px 0 0;
  }
  
  .u-section-2 .u-text-7 {
    margin: 20px 20px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-repeater-1 {
      min-height: 55px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 15px));
      min-height: 159px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 832px;
  }
  
  .u-section-3 .u-text-1 {
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    font-size: 1.25rem;
    background-image: none;
    margin: 60px 405px 0 0;
  }
  
  .u-section-3 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 31px 335px 0 0;
  }
  
  .u-section-3 .u-text-3 {
    line-height: 2;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 31px 190px 0 0;
  }
  
  .u-section-3 .u-list-1 {
    margin-top: 77px;
    margin-bottom: 60px;
  }
  
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 217px;
    grid-gap: 30px;
  }
  
  .u-section-3 .u-list-item-1 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 18px 20px 30px;
  }
  
  .u-section-3 .u-icon-1 {
    height: 59px;
    width: 59px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    background-image: none;
    margin: 1px auto 0 0;
    padding: 6px;
  }
  
  .u-section-3 .u-text-4 {
    font-size: 1.375rem;
    margin: 31px 0 0;
  }
  
  .u-section-3 .u-btn-1 {
    font-size: 0.875rem;
    background-image: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0 0;
    padding: 0;
  }
  
  .u-section-3 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 18px 20px 30px;
  }
  
  .u-section-3 .u-icon-2 {
    height: 59px;
    width: 59px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    background-image: none;
    margin: 1px auto 0 0;
    padding: 6px;
  }
  
  .u-section-3 .u-text-5 {
    font-size: 1.375rem;
    font-weight: 400;
    margin: 31px 0 0;
  }
  
  .u-section-3 .u-btn-2 {
    font-size: 0.875rem;
    background-image: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0 0;
    padding: 0;
  }
  
  .u-section-3 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 18px 20px 30px;
  }
  
  .u-section-3 .u-icon-3 {
    height: 59px;
    width: 59px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    background-image: none;
    margin: 1px auto 0 0;
    padding: 6px;
  }
  
  .u-section-3 .u-text-6 {
    font-size: 1.375rem;
    font-weight: 400;
    margin: 31px 0 0;
  }
  
  .u-section-3 .u-btn-3 {
    font-size: 0.875rem;
    background-image: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0 0;
    padding: 0;
  }
  
  .u-section-3 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-3 .u-container-layout-4 {
    padding: 18px 20px 30px;
  }
  
  .u-section-3 .u-icon-4 {
    height: 59px;
    width: 59px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    background-image: none;
    margin: 1px auto 0 0;
    padding: 6px;
  }
  
  .u-section-3 .u-text-7 {
    font-size: 1.375rem;
    font-weight: 400;
    margin: 31px 0 0;
  }
  
  .u-section-3 .u-btn-4 {
    font-size: 0.875rem;
    background-image: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0 0;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 985px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 205px;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 135px;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 0;
    }
  
    .u-section-3 .u-repeater-1 {
      min-height: 176px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-top: 40px;
    }
  
    .u-section-3 .u-text-4 {
      font-size: 1.125rem;
    }
  
    .u-section-3 .u-text-5 {
      font-size: 1.125rem;
    }
  
    .u-section-3 .u-text-6 {
      font-size: 1.125rem;
    }
  
    .u-section-3 .u-text-7 {
      font-size: 1.125rem;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1128px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 0;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 15px));
      min-height: 488px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-top: 18px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  } .u-section-4 {
    background-image: none;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 637px;
  }
  
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-bottom: 54px;
  }
  
  .u-section-4 .u-layout-cell-1 {
    min-height: 563px;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 30px 0;
  }
  
  .u-section-4 .u-text-1 {
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 0;
  }
  
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 296px;
    grid-gap: 30px;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 8px 20px 8px 0;
  }
  
  .u-section-4 .u-text-2 {
    margin: 0;
  }
  
  .u-section-4 .u-text-3 {
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-container-layout-3 {
    padding: 8px 20px 8px 0;
  }
  
  .u-section-4 .u-text-4 {
    margin: 0;
  }
  
  .u-section-4 .u-text-5 {
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-6 {
    margin: 20px 30px 0 0;
  }
  
  .u-section-4 .u-text-7 {
    margin: 20px 30px 0 0;
  }
  
  .u-section-4 .u-layout-cell-2 {
    min-height: 509px;
  }
  
  .u-section-4 .u-container-layout-4 {
    padding: 30px 30px 30px 0;
  }
  
  .u-section-4 .u-text-8 {
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-list-2 {
    width: 401px;
    margin: 30px auto 0 0;
  }
  
  .u-section-4 .u-repeater-2 {
    grid-template-columns: repeat(1, 100%);
    min-height: 416px;
    grid-gap: 30px;
  }
  
  .u-section-4 .u-container-layout-5 {
    padding: 30px 20px 30px 0;
  }
  
  .u-section-4 .u-text-9 {
    margin: 0;
  }
  
  .u-section-4 .u-text-10 {
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-container-layout-6 {
    padding: 30px 20px 30px 0;
  }
  
  .u-section-4 .u-text-11 {
    margin: 0;
  }
  
  .u-section-4 .u-text-12 {
    margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 548px;
    }
  
    .u-section-4 .u-layout-cell-1 {
      min-height: 464px;
    }
  
    .u-section-4 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-4 .u-text-6 {
      margin-right: 0;
    }
  
    .u-section-4 .u-text-7 {
      margin-right: 0;
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 420px;
    }
  
    .u-section-4 .u-repeater-2 {
      grid-template-columns: 100%;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 228px;
    }
  
    .u-section-4 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-4 .u-list-2 {
      width: 330px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 328px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-bottom: 0;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-4 {
      padding-right: 10px;
      padding-bottom: 0;
    }
  
    .u-section-4 .u-container-layout-5 {
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-6 {
      padding-right: 10px;
    }
  } .u-section-5 {
    background-image: none;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 1162px;
  }
  
  .u-section-5 .u-text-1 {
    margin: 69px 452px 0 0;
  }
  
  .u-section-5 .u-list-1 {
    margin-top: 39px;
    margin-bottom: 60px;
    grid-template-rows: repeat(1, auto);
  }
  
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 884px;
    grid-gap: 10px;
  }
  
  .u-section-5 .u-image-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/Screenshot2024-09-05at6.17.54PM.png');
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding: 30px 0 0;
  }
  
  .u-section-5 .u-group-1 {
    min-height: 138px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
  }
  
  .u-section-5 .u-container-layout-2 {
    padding: 30px 20px;
  }
  
  .u-section-5 .u-text-2 {
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
    margin: 20px auto 0 0;
  }
  
  .u-section-5 .u-image-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/Screenshot2024-09-05at12.10.04AM.png');
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-container-layout-3 {
    padding: 30px 0 0;
  }
  
  .u-section-5 .u-group-2 {
    min-height: 138px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
  }
  
  .u-section-5 .u-container-layout-4 {
    padding: 30px 20px;
  }
  
  .u-section-5 .u-text-4 {
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
    margin: 20px auto 0 0;
  }
  
  .u-section-5 .u-image-3 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/jhjh6.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-container-layout-5 {
    padding: 30px 0 0;
  }
  
  .u-section-5 .u-group-3 {
    min-height: 138px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
  }
  
  .u-section-5 .u-container-layout-6 {
    padding: 30px 20px;
  }
  
  .u-section-5 .u-text-6 {
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
    margin: 20px auto 0 0;
  }
  
  .u-section-5 .u-image-4 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/rr2.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-container-layout-7 {
    padding: 30px 0 0;
  }
  
  .u-section-5 .u-group-4 {
    min-height: 138px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
  }
  
  .u-section-5 .u-container-layout-8 {
    padding: 30px 20px;
  }
  
  .u-section-5 .u-text-8 {
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-9 {
    font-size: 1.875rem;
    margin: 20px auto 0 0;
  }
  
  .u-section-5 .u-image-5 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/hh5.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-container-layout-9 {
    padding: 30px 0 0;
  }
  
  .u-section-5 .u-group-5 {
    min-height: 138px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
  }
  
  .u-section-5 .u-container-layout-10 {
    padding: 30px 20px;
  }
  
  .u-section-5 .u-text-10 {
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-11 {
    font-size: 1.875rem;
    margin: 20px auto 0 0;
  }
  
  .u-section-5 .u-image-6 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/jhjh688.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-container-layout-11 {
    padding: 30px 0 0;
  }
  
  .u-section-5 .u-group-6 {
    min-height: 138px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
  }
  
  .u-section-5 .u-container-layout-12 {
    padding: 30px 20px;
  }
  
  .u-section-5 .u-text-12 {
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-13 {
    font-size: 1.875rem;
    margin: 20px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
      min-height: 1006px;
    }
  
    .u-section-5 .u-text-1 {
      margin-right: 252px;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
      min-height: 728px;
    }
  
    .u-section-5 .u-group-1 {
      height: auto;
    }
  
    .u-section-5 .u-group-2 {
      height: auto;
    }
  
    .u-section-5 .u-group-3 {
      height: auto;
    }
  
    .u-section-5 .u-group-4 {
      height: auto;
    }
  
    .u-section-5 .u-group-5 {
      height: auto;
    }
  
    .u-section-5 .u-group-6 {
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-text-1 {
      margin-right: 32px;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 5.0000025px));
      min-height: 1267px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
      min-height: 1410px;
    }
  
    .u-section-5 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 5px));
      min-height: 1162px;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-container-layout-10 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-container-layout-12 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
      min-height: 2492px;
    }
  
    .u-section-5 .u-list-1 {
      margin-bottom: 38px;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: 100%;
      min-height: 2313px;
    }
  
    .u-section-5 .u-group-1 {
      margin-top: 192px;
    }
  
    .u-section-5 .u-group-2 {
      margin-top: 192px;
    }
  
    .u-section-5 .u-group-3 {
      margin-top: 192px;
    }
  
    .u-section-5 .u-group-4 {
      margin-top: 192px;
    }
  
    .u-section-5 .u-group-5 {
      margin-top: 192px;
    }
  
    .u-section-5 .u-group-6 {
      margin-top: 192px;
    }
  } .u-section-6 {
    background-image: none;
  }
  
  .u-section-6 .u-sheet-1 {
    min-height: 808px;
  }
  
  .u-section-6 .u-layout-wrap-1 {
    margin-top: 81px;
    margin-bottom: 60px;
  }
  
  .u-section-6 .u-layout-cell-1 {
    min-height: 650px;
    background-image: none;
  }
  
  .u-section-6 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-6 .u-text-1 {
    font-size: 2.8125rem;
    margin: 37px 0 0;
  }
  
  .u-section-6 .u-list-1 {
    width: 340px;
    margin: 28px auto 0 0;
  }
  
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 389px;
    grid-gap: 0px;
  }
  
  .u-section-6 .u-container-layout-2 {
    padding: 20px 10px 20px 0;
  }
  
  .u-section-6 .u-text-2 {
    margin: 0 213px 0 1px;
  }
  
  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
    margin: 20px 0 0;
  }
  
  .u-section-6 .u-container-layout-3 {
    padding: 20px 10px 20px 0;
  }
  
  .u-section-6 .u-text-4 {
    margin: 0 213px 0 1px;
  }
  
  .u-section-6 .u-text-5 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 20px 0 0;
  }
  
  .u-section-6 .u-btn-1 {
    padding: 0;
  }
  
  .u-section-6 .u-container-layout-4 {
    padding: 20px 10px 20px 0;
  }
  
  .u-section-6 .u-text-6 {
    margin: 0 213px 0 1px;
  }
  
  .u-section-6 .u-text-7 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 20px 0 0;
  }
  
  .u-section-6 .u-btn-2 {
    background-image: none;
    border-style: solid;
    padding: 0;
  }
  
  .u-section-6 .u-layout-cell-2 {
    min-height: 650px;
    background-image: none;
  }
  
  .u-section-6 .u-container-layout-5 {
    padding: 30px 50px;
  }
  
  .u-section-6 .u-form-1 {
    height: 453px;
    width: 527px;
    margin: 0;
  }
  
  .u-section-6 .u-input-1 {
    font-size: 1.125rem;
    text-transform: none;
  }
  
  .u-section-6 .u-input-2 {
    font-size: 1.125rem;
    text-transform: none;
  }
  
  .u-section-6 .u-input-3 {
    font-size: 1.125rem;
    text-transform: none;
  }
  
  .u-section-6 .u-btn-3 {
    font-size: 1.125rem;
    letter-spacing: 3px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    background-image: none;
    padding: 15px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-6 .u-sheet-1 {
      min-height: 694px;
    }
  
    .u-section-6 .u-layout-cell-1 {
      min-height: 536px;
    }
  
    .u-section-6 .u-text-1 {
      font-size: 2.625rem;
    }
  
    .u-section-6 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-6 .u-layout-cell-2 {
      min-height: 536px;
    }
  
    .u-section-6 .u-form-1 {
      width: 417px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-6 .u-sheet-1 {
      min-height: 258px;
    }
  
    .u-section-6 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-right: 230px;
    }
  
    .u-section-6 .u-list-1 {
      width: 300px;
    }
  
    .u-section-6 .u-layout-cell-2 {
      min-height: 513px;
    }
  
    .u-section-6 .u-container-layout-5 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-6 .u-form-1 {
      width: 536px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
      min-height: 358px;
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-right: 70px;
    }
  
    .u-section-6 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-6 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-6 .u-form-1 {
      width: 520px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-6 .u-sheet-1 {
      min-height: 1264px;
    }
  
    .u-section-6 .u-layout-wrap-1 {
      margin-top: 34px;
    }
  
    .u-section-6 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-6 .u-text-1 {
      font-size: 2.125rem;
    }
  
    .u-section-6 .u-text-2 {
      margin-right: 226px;
    }
  
    .u-section-6 .u-text-4 {
      margin-right: 226px;
    }
  
    .u-section-6 .u-text-6 {
      margin-right: 226px;
    }
  
    .u-section-6 .u-form-1 {
      width: 320px;
    }
  }